version: '3.8'

x-dev:
    &proxy_conf
    http_proxy: "${HTTP_PROXY}"
    https_proxy: "${HTTPS_PROXY}"

services:
    rest:
        container_name: ${APP_NAME}_rest
        build:
            context: .
            dockerfile: Dockerfile
            args: *proxy_conf
        image: ${APP_NAME}_img
        volumes:
        - '.:/app'
        ports:
        - 5012:5000 
        restart: always
        # command: tail -f /dev/null
        environment:
            FLASK_ENV: "development"
            FLASK_DEBUG: 1
            << : *proxy_conf
    db:
        container_name: ${APP_NAME}_db
        image: postgres
        environment:
            http_proxy: "${HTTP_PROXY}"
            https_proxy: "${HTTPS_PROXY}"
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_NAME}
        volumes:
        - database-data:/var/lib/postgresql/data
        ports:
        - 15432:5432
        restart: always
volumes:
    database-data: 
        name: ${APP_NAME}_db_volume